{% extends 'main/base.html' %}


{% block title %}
{{ title }}
{% endblock %}


{% block content %}
    <h2> Your Tasks </h2>
    {% if tasks %}
        {% for el in tasks %}
            <div class="alert alert-warning mt-2">
        	    <h4>{{ el.title }}</h4>
        	    <p>{{ el.task }}</p>
        	    <a class="p-2 text-dark" href="{% url 'update' el.id %}">Update Task</a>
        	    <a class="p-2 text-dark" href="{% url 'delete' el.id %}">DeleteTask</a>
        	    {% if complete == True %}
        	    <p><strike>{{task}}</strike></p>
        	    {% else %}
        	    <span>{{task}}</span>
        	    {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p> You have no tasks</p>
    {% endif %}
{% endblock %}